---
import data from '@data';
---
<section class="w-full mx-auto py-2 px-4">
    <div class="flex items-center justify-between">
        <div class="flex-1 text-center flex flex-col">
            <div class="flex items-center mb-2">
                <hr class="flex-1 border-t-2 border-primary-700" />
            </div>
            <p class="text-primary-700 text-xl uppercase tracking-wider font-semibold">{data.dia}</p>
            <div class="flex items-center mt-2">
                <hr class="flex-1 border-t-2 border-primary-700" />
            </div>
        </div>
    
        <div class="mx-4">
            <div class="bg-primary-600 rounded-full py-5 px-4 text-center flex flex-col justify-center">
                <p class="text-white uppercase text-lg mb-1">{data.mes}</p>
                <p class="text-white text-5xl font-semibold leading-none">{data.numero}</p>
                <p class="text-white text-lg mt-1">{data.anio}</p>
            </div>
        </div>
    
        <div class="flex-1 text-center flex flex-col">
            <div class="flex items-center mb-2">
                <hr class="flex-1 border-t-2 border-primary-700" />
            </div>
            <p class="text-primary-700 text-xl uppercase tracking-wider font-semibold">{data.hora} p.m.</p>
            <div class="flex items-center mt-2">
                <hr class="flex-1 border-t-2 border-primary-700" />
            </div>
        </div>
    </div>
</section>